.deps/*
.libs/*
avrdude
config_gram.c
config_gram.h
lexer.c
*.a
*.la
*.o
*.lo
Makefile
ac_cfg.h
avrdude.conf
avrdude.conf.tmp
config.log
config.status
doc/Makefile
libtool
stamp-h1
windows/.deps/*
windows/Makefile
